<script>
  var themeOptions = {
    white_logo: '',
    disqus_shortname: '',
    copyright: 'Powered by <a href="https://ghost.org/" target="_blank">Ghost</a>',
    social_links: {
      facebook: 'https://www.facebook.com',
      twitter: 'https://www.twitter.com',
      instagram: 'https://www.instagram.com',
      dribbble: '',
      behance: '',
      github: '',
      linkedin: '',
      vk: '',
      rss: '',
    }
  };
</script>