<script>
  var themeOptions = {
    white_logo: '',
    disqus_shortname: 'test-s4dr8nrqof',
    copyright: 'Powered by <a href="https://ghost.org/" target="_blank">Ghost</a>',
    social_links: {
      facebook: '#',
      twitter: '#',
      instagram: '#',
      dribbble: '#',
      behance: '#',
      github: '#',
      linkedin: '#',
      vk: '#',
      rss: '#',
    }
  };
</script>