<script>
    var themeOptions = {
        white_logo: '',
        disqus_shortname: '',
        instagram_token: '',
        copyright: 'Powered by <a href="https://ghost.org/" target="_blank">Ghost</a>'
    };
</script>