<footer class="site-footer container large">
    <div class="toggle-track">
        <div class="toggle-moon"><i class="icon icon-brightness-2"></i></div>
        <div class="toggle-sun"><i class="icon icon-white-balance-sunny"></i></div>
        <div class="toggle-thumb"></div>
    </div>
    <div class="copyright">
       © Michael Boyd 2021
    </div>
    <div>
    </div>
    
</footer>