<article class="{{post_class}}{{#unless feature_image}} no-image{{/unless}}">
    {{> post-media ratio="horizontal"}}
    <div class="container medium">
        {{> post-header big_title=true}}
        {{#if excerpt}}
            <div class="post-excerpt">
                {{excerpt words="33"}}
            </div>
        {{/if}}
        {{> post-footer}}
    </div>
</article>