<div class="navigation container medium">
    {{#prev_post}}
        <div class="navigation-item navigation-previous">
            <a class="navigation-item-link button-arrow button-arrow-left" href="{{url}}">
                <i class="button-arrow-icon icon icon-arrow-left"></i> Previous Post
            </a>
        </div>
    {{/prev_post}}

    {{#next_post}}
        <div class="navigation-item navigation-next">
            <a class="navigation-item-link button-arrow button-arrow-right" href="{{url}}">
                Next Post <i class="button-arrow-icon icon icon-arrow-right"></i>
            </a>
        </div>
    {{/next_post}}
</div>