{{#get "posts" limit="3" filter="tag:{{primary_tag.slug}}+id:-{{id}}" include="tags" as |related|}}
    {{#if related}}
        <section class="related-posts container medium">
            <h3 class="related-title"><span class="text">You might also like...</span></h3>
            <div class="row">
                {{#foreach related}}
                    <div class="col-md-4 related-column">
                        <article class="{{post_class}}{{#unless feature_image}} no-image{{/unless}}">
                            {{> post-media small_image=true ratio="rectangle"}}
                            {{> post-header}}
                        </article>
                    </div>
                {{/foreach}}
            </div>
        </section>
    {{/if}}
{{/get}}