.featured-posts {
  margin: 30px 0;

  .post {
    margin-bottom: 0;
  }

  .post-media {
    border-radius: 5px;
    margin-bottom: 20px;
    overflow: hidden;
  }

  .u-placeholder.same-height {
    padding-bottom: 100%;
  }

  .post-header {
    padding: 0 15px;
  }

  .post-title {
    font-size: 16px;
    letter-spacing: 0;
  }
}