{{!< default}}

<div class="content-area">
  <main class="site-main">
    <div class="error">
      <div class="error-code">{{code}}</div>
      <div class="error-message">{{message}}.</div>
      {{#get "posts" limit="4" as |recents|}}
        {{#if recents}}
          <div class="error-posts carousel owl">
            {{#foreach recents}}
              <article class="error-post {{post_class}}{{#unless feature_image}} no-image{{/unless}}">
                {{> post-media static_image=true small_image=true ratio="square" show_tag=true}}
                {{> post-header hide_meta=true}}
              </article>
            {{/foreach}}
          </div>
        {{/if}}
      {{/get}}
      <a class="error-link button-arrow button-arrow-right" href="{{@site.url}}">Go to the front page <i class="button-arrow-icon icon icon-arrow-right"></i></a>
    </div>
  </main>
</div>