{{!< default}}

{{#post}}

<div class="content-area">
<main class="site-main">
    <article class="{{post_class}}{{#unless feature_image}} no-image{{/unless}} single-post">

        <header class="post-header container medium">
            <h1 class="post-title">{{title}}</h1>
        </header>

        {{> "post-image"}}

        <div class="post-content gh-content kg-canvas">
            {{content}}
        </div>

    </article>
</main>
</div>

{{/post}}