{{!< default}}

<div class="content-area">
    <main class="site-main">
        {{#post}}
            <article class="{{post_class}}{{#unless feature_image}} no-image{{/unless}} single-post">
                {{> post-header single=true number_date=true big_title=true}}
                {{> post-media ratio="horizontal"}}
                <div class="post-content kg-canvas u-text-format">
                    {{content}}
                </div>
                <div class="container medium">
                    {{> share}}
                    {{> author}}
                </div>
            </article>
            {{> post-navigation}}
        {{/post}}
        {{> related}}
        {{> comment}}
    </main>
</div>