{{!< default}}

<div class="content-area">
    <main class="site-main">
        {{#post}}
            <article class="{{post_class}}{{#unless feature_image}} no-image{{/unless}} single-post">
                {{> post-header single=true big_title=true}}
                {{> post-media ratio="horizontal" with_caption=true}}
                <div class="post-content gh-content kg-canvas">
                    {{content}}
                </div>
                <div class="container medium">
                    {{#if @custom.show_share_links}}
                        {{> share}}
                    {{/if}}
                    {{#if @custom.show_author}}
                        {{> author}}
                    {{/if}}
                </div>
            </article>
            {{> post-navigation}}
            {{#if @custom.show_related_posts}}
                {{> related}}
            {{/if}}
            {{> comment}}
        {{/post}}
    </main>
</div>