.site-footer {
  align-items: center;
  display: flex;
  justify-content: space-between;
  line-height: 1;
  padding: 45px 0;
}
.copyright,
.footer-social {
  flex: 2;
}
.copyright {
  font-size: 14px;
}
.copyright a {
  position: relative;
}
.footer-social {
  margin-right: -7px;
  text-align: right;
}
.footer-social-item {
  color: var(--secondary-text-color);
  font-size: 18px;
  padding: 0 5px;
}
@media (max-width: 767px) {
  .site-footer {
    flex-direction: column;
  }
  .copyright {
    margin-top: 15px;
    order: 1;
  }
  .footer-social {
    margin-right: 0;
    margin-top: 30px;
  }
}
