@import "../variables.less";

.error {
  text-align: center;
}

.error-code {
  color: @dark-gray-color;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: -5px;
}

.error-posts {
  margin-top: 60px;
}

.error-post {
  .post-media {
    margin-bottom: 30px;
  }

  .u-placeholder.same-height {
    padding-bottom: 100%;
  }

  .post-title {
    font-size: 18px;
    line-height: 1.3;
  }
}

.error-link {
  color: var(--primary-color);
}