.error {
  text-align: center;
}

.error-code {
  color: @dark-gray-color;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 2px;
  margin-bottom: -5px;
}

.error-posts {
  margin-top: 60px;
}

.error-post {
  .post-media {
    border-radius: 5px;
    margin-bottom: 30px;
    overflow: hidden;
  }
}

.error-link {
  color: var(--primary-color) !important;
}