.site-header {
  backface-visibility: hidden;
  z-index: 80;
}

.navbar {
  align-items: center;
  display: flex;
  height: 100px;
  justify-content: space-between;
}

.navbar-left,
.navbar-right {
  align-items: center;
  display: flex;
}

.navbar-left {
  height: 100%;
}

.logo {
  display: inline-block;
  margin-right: 15px;
  position: relative;
  vertical-align: middle;
}

.logo-image {
  max-height: 60px;
}

.logo-image.white {
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: opacity .3s @animation-base;
}

.logo-text {
  font-size: 24px;
  font-weight: 800;
}

.sep {
  display: flex;
  height: 100%;
  margin: 0 15px;
  width: 1px;

  &:after {
    background-color: @mid-gray-color;
    content: "";
    height: 40%;
    margin: auto;
    transition: background-color .5s @animation-base;
    width: 100%;
  }
}

.nav-list {
  display: flex;
}

.menu-item {
  backface-visibility: hidden;
  font-size: 14px;
  font-weight: 800;
  letter-spacing: .5px;
  line-height: 1;
  margin: 0 20px;
  transition: opacity .3s @animation-base;
}

.menu-item-link {
  color: @secondary-text-color;

  &:hover {
    color: @dark-gray-color;
  }
}