.dark-mode {
  body {
    background-color: @dark-mode-bg-color;
    color: @dark-mode-primary-text-color;
  }

  a:not(.menu-item-link):not(.post-tag):not(.post-link),
  h1, h2, h3, h4, h5, h6,
  blockquote,
  figcaption,
  .u-text-format strong,
  .logo-text,
  .canvas-close,
  .author-social-item:hover,
  .error-code,
  .menu-item-link:hover {
    color: @white-color;
  }

  .logo-image:not(.white) {
    opacity: 0;
  }

  .burger:before, .burger:after,
  hr, hr:before, hr:after {
    background-color: @white-color;
  }

  .logo-image.white {
    opacity: 1;
  }

  .menu-item-link,
  .post-meta,
  .post-link.secondary,
  .page-number,
  .author-location,
  .author-social-item,
  .button-arrow-icon,
  .subscribe-message {
    color: @dark-mode-secondary-text-color;
  }

  .post-footer,
  .page-number {
    border-color: @dark-mode-border-color;
  }

  .comment-container,
  .subscribe,
  .u-placeholder {
    background-color: darken(@dark-mode-bg-color, 3%);
  }

  .off-canvas {
    background-color: @dark-mode-bg-color;
  }

  .sep:after {
    background-color: @dark-mode-border-color;
  }

  .u-text-format ol li:before {
    font-weight: 700;
  }

  blockquote {
    border-color: @white-color;
  }
}