.author {
    display: flex;
    margin-top: 60px;
}

.author + .author {
    margin-top: 30px;
}

.author-image-placeholder {
    flex-shrink: 0;
    overflow: hidden;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.author-wrapper {
    margin-left: 25px;
    max-width: 550px;
}

.author-name {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 800;
    cursor: pointer;
}

.author-location-icon {
    position: relative;
    top: 1px;
}

.author-bio {
    margin-top: 8px;
    font-size: 15px;
}

.author-location {
    margin-top: 12px;
    margin-left: -2px;
    color: var(--secondary-text-color);
    font-size: 11px;
    font-weight: 800;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}
