.author {
  display: flex;
  margin-top: 60px;
}

.author + .author {
  margin-top: 30px;
}

.author-image-placeholder {
  border-radius: 50%;
  flex-shrink: 0;
  height: 70px;
  overflow: hidden;
  width: 70px;
}

.author-wrapper {
  margin-left: 25px;
  max-width: 550px;
}

.author-header {
  align-items: center;
  display: flex;
}

.author-header-wrapper {
  position: relative;
}

.author-name {
  align-items: center;
  cursor: pointer;
  display: flex;
  font-size: 18px;
  font-weight: 800;
  margin-bottom: 0;
  position: relative;
}

.author-name::after {
  content: "\e92e";
  font-family: Alto, sans-serif;
  font-size: 19px;
  margin-left: 1px;
}

.author-social {
  background-color: var(--dark-gray-color);
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  left: 100%;
  line-height: 1;
  margin-left: -26px;
  margin-top: 5px;
  opacity: 0;
  padding: 8px 0;
  pointer-events: none;
  position: absolute;
  top: 100%;
  transform: translateY(5px);
  transition: opacity 0.2s var(--animation-base), transform 0.2s var(--animation-base);
}

.author-social::before {
  color: var(--dark-gray-color);
  content: "\e900";
  font-family: Alto, sans-serif;
  font-size: 19px;
  left: 7px;
  position: absolute;
  top: -12px;
}

.author-social.enabled {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}

.author-social-item {
  color: var(--white-color);
  font-weight: 700;
  padding: 5px 11px;
  white-space: nowrap;
}

.author-location-icon {
  position: relative;
  top: 1px;
}

.author-bio {
  font-size: 15px;
  margin-top: 8px;
}

.author-location {
  color: var(--secondary-text-color);
  font-size: 11px;
  font-weight: 800;
  letter-spacing: 0.5px;
  margin-left: -2px;
  margin-top: 12px;
  text-transform: uppercase;
}
